<div class="panel panel-primary">
  <div class="panel-heading ">Authentification</div>
  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
      <div class="form-group" >
        <label class="control-label">User name</label>
        <input type="text" name="username"  ngModel class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <input type="password" name="password"  ngModel class="form-control">
        <br>
        <button class="btn btn-primary center-block " type="submit">login</button>
      </div>
    </form>
  </div>

</div>
